body {
    font-family: Arial, Geneva;
    margin: 0;
    padding 0;
    background-color: rgb(116, 155, 255);
}

.kartu-profil
{
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px rgba(rgb(255, 130, 218);
    border-radius: 10px;
    text-align: center;
}

.kartu-profil img {
    width: 150px;
    height: 150px;
    border: raidus: 50%;
    margin-bottom: 15px;
}
